<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCR NodeJS</title>
    <link rel="stylesheet" href="https://bootswatch.com/3/spacelab/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>OCR NodeJS</h1>
            <p>This is a Simple OCR (Optical Character Recognition) Application is used to help us to scan images in images and be used as text, and this application can also be an additional support / application for scanners. </p>
            <p>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="avatar">
                    <button type="submit" class="btn btn-primary">Convert Now!</button>
                </form>
            </p>
          </div>
    </div>
</body>
</html>